// Variables 
$c1 : #f3f3f3;
$c2 : #000;
$c3 : #333;

$yellow1: rgb(255, 223, 88); 
$yellow2: rgb(252, 211, 77); 
$yellow3: rgb(240, 194, 50); 

// Funciones
@mixin link-style {
    color: $c2;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all ease-in-out .3s;
    cursor: crosshair;
    &:hover {
        font-size: 16px;
        border-bottom: 1px solid $c2;
    }
}

@mixin background__yellow {
    background: linear-gradient(90deg, $yellow1, $yellow2, $yellow3);
}
